In [1]:
#menginport library yang akan digunakan
import pandas as pd
import numpy as np

In [2]:
#membaca dataframe dengan pandas
df = pd.read_csv('Tugas.csv', sep=';')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/16,02.05,3067.00.00,...,1.0,1.0,202.00.00,NaN,NaN,Yarra,-377.996,1.449.984,Northern Metropolitan,4019.00.00
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/16,02.05,3067.00.00,...,1.0,0.0,156.00.00,79.00.00,1900.00.00,Yarra,-378.079,1.449.934,Northern Metropolitan,4019.00.00
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/17,02.05,3067.00.00,...,2.0,0.0,134.00.00,150.00.00,1900.00.00,Yarra,-378.093,1.449.944,Northern Metropolitan,4019.00.00
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,04/03/17,02.05,3067.00.00,...,2.0,1.0,94.00.00,NaN,NaN,Yarra,-377.969,1.449.969,Northern Metropolitan,4019.00.00
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,04/06/16,02.05,3067.00.00,...,1.0,2.0,120.00.00,142.00.00,2014.00.00,Yarra,-378.072,1.449.941,Northern Metropolitan,4019.00.00

In [3]:
#menampilkan info data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  object
 9   Postcode       13580 non-null  object
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  object
 14  BuildingArea   7130 non-null   object
 15  YearBuilt      8205 non-null   object
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  object
 18  Longtitude     13580 non-null  object
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  object
dtypes: float64(4), int64(1), object(16)
memory usage: 2.2+ MB

In [4]:
#menampilkan nama kolom
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
#menghapus rows data setelah row 1499
df.drop(df.index[1500:13578], inplace = True)
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/16,02.05,3067.00.00,...,1.0,1.0,202.00.00,NaN,NaN,Yarra,-377.996,1.449.984,Northern Metropolitan,4019.00.00
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/16,02.05,3067.00.00,...,1.0,0.0,156.00.00,79.00.00,1900.00.00,Yarra,-378.079,1.449.934,Northern Metropolitan,4019.00.00
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/17,02.05,3067.00.00,...,2.0,0.0,134.00.00,150.00.00,1900.00.00,Yarra,-378.093,1.449.944,Northern Metropolitan,4019.00.00
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,04/03/17,02.05,3067.00.00,...,2.0,1.0,94.00.00,NaN,NaN,Yarra,-377.969,1.449.969,Northern Metropolitan,4019.00.00
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,04/06/16,02.05,3067.00.00,...,1.0,2.0,120.00.00,142.00.00,2014.00.00,Yarra,-378.072,1.449.941,Northern Metropolitan,4019.00.00

In [6]:
#casting tipe data 
df['Distance'] = df.Distance.astype(float)
df['YearBuilt'] = df.YearBuilt.str.replace('.00.00', '').astype(float)
df['Landsize'] = df.Landsize.str.replace('.00.00', '').astype(float)
df['BuildingArea'] = df.BuildingArea.str.replace('.00.00', '').astype(float)
df['Postcode'] = df.Postcode.str.replace('.00.00', '')
df['Propertycount'] = df.Propertycount.str.replace('.00.00', '').astype(float)
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/16,2.05,3067,...,1.0,1.0,202.0,NaN,NaN,Yarra,-377.996,1.449.984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/16,2.05,3067,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-378.079,1.449.934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/17,2.05,3067,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-378.093,1.449.944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,04/03/17,2.05,3067,...,2.0,1.0,94.0,NaN,NaN,Yarra,-377.969,1.449.969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,04/06/16,2.05,3067,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-378.072,1.449.941,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1497,Bulleen,4 Graeme Ct,4,h,1244000.0,PI,Fletchers,23/04/16,11.08,3105,...,2.0,2.0,530.0,NaN,NaN,Manningham,-377.735,145.088,Eastern Metropolitan,4480.0
1498,Bulleen,19 Barak St,4,h,1100000.0,PI,Barry,24/09/16,11.08,3105,...,2.0,2.0,693.0,212.0,1975.0,Manningham,-377.743,1.450.863,Eastern Metropolitan,4480.0
1499,Bulleen,13 Birrarrung Ct,4,h,1475000.0,VB,Barry,24/09/16,11.08,3105,...,2.0,2.0,617.0,NaN,1998.0,Manningham,-377.569,1.450.913,Eastern Metropolitan,4480.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/17,6.08,3016,...,1.0,5.0,866.0,157.0,1920.0,NaN,-3.785.908,14.489.299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/17,6.03,3013,...,1.0,1.0,362.0,112.0,1920.0,NaN,-3.781.188,14.488.449,Western Metropolitan,6543.0

In [7]:
#mengubah display data dengan tipe float tanpa angka decimal 
pd.options.display.float_format = '{:,.0f}'.format
def format_float(value):
    return f'{value:,.0f}'
pd.options.display.float_format = format_float

In [8]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,"1,480,000",S,Biggin,03/12/16,2,3067,...,1,1,202,NaN,NaN,Yarra,-377.996,1.449.984,Northern Metropolitan,"4,019"
1,Abbotsford,25 Bloomburg St,2,h,"1,035,000",S,Biggin,04/02/16,2,3067,...,1,0,156,79,"1,900",Yarra,-378.079,1.449.934,Northern Metropolitan,"4,019"
2,Abbotsford,5 Charles St,3,h,"1,465,000",SP,Biggin,04/03/17,2,3067,...,2,0,134,150,"1,900",Yarra,-378.093,1.449.944,Northern Metropolitan,"4,019"
3,Abbotsford,40 Federation La,3,h,"850,000",PI,Biggin,04/03/17,2,3067,...,2,1,94,NaN,NaN,Yarra,-377.969,1.449.969,Northern Metropolitan,"4,019"
4,Abbotsford,55a Park St,4,h,"1,600,000",VB,Nelson,04/06/16,2,3067,...,1,2,120,142,"2,014",Yarra,-378.072,1.449.941,Northern Metropolitan,"4,019"

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1502 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         1502 non-null   object
 1   Address        1502 non-null   object
 2   Rooms          1502 non-null   int64
 3   Type           1502 non-null   object
 4   Price          1502 non-null   float64
 5   Method         1502 non-null   object
 6   SellerG        1502 non-null   object
 7   Date           1502 non-null   object
 8   Distance       1502 non-null   float64
 9   Postcode       1502 non-null   object
 10  Bedroom2       1502 non-null   float64
 11  Bathroom       1502 non-null   float64
 12  Car            1502 non-null   float64
 13  Landsize       1502 non-null   float64
 14  BuildingArea   849 non-null    float64
 15  YearBuilt      965 non-null    float64
 16  CouncilArea    1500 non-null   object
 17  Lattitude      1502 non-null   object
 18  Longtitude     1502 non-null   object
 19  Regionname     1502 non-null   object
 20  Propertycount  1502 non-null   float64
dtypes: float64(9), int64(1), object(11)
memory usage: 258.2+ KB

In [10]:
df.isna().sum()

Suburb             0
Address            0
Rooms              0
Type               0
Price              0
Method             0
SellerG            0
Date               0
Distance           0
Postcode           0
Bedroom2           0
Bathroom           0
Car                0
Landsize           0
BuildingArea     653
YearBuilt        537
CouncilArea        2
Lattitude          0
Longtitude         0
Regionname         0
Propertycount      0
dtype: int64

In [11]:
#mengisi missing data pada kolom BuildingArea dengan nilai mean
df['BuildingArea'].fillna(df['BuildingArea'].mean(), inplace=True)

In [12]:
#mengisi missing data pada kolom YearBuilt dengan nilai mean
df['YearBuilt'].fillna(df['YearBuilt'].mean(), inplace=True)

In [13]:
#mengisi missing data pada kolom Councilarea dengan nilai konstanta 0
df['CouncilArea'].fillna(0, inplace=True)

In [14]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,"1,480,000",S,Biggin,03/12/16,2,3067,...,1,1,202,169,"1,961",Yarra,-377.996,1.449.984,Northern Metropolitan,"4,019"
1,Abbotsford,25 Bloomburg St,2,h,"1,035,000",S,Biggin,04/02/16,2,3067,...,1,0,156,79,"1,900",Yarra,-378.079,1.449.934,Northern Metropolitan,"4,019"
2,Abbotsford,5 Charles St,3,h,"1,465,000",SP,Biggin,04/03/17,2,3067,...,2,0,134,150,"1,900",Yarra,-378.093,1.449.944,Northern Metropolitan,"4,019"
3,Abbotsford,40 Federation La,3,h,"850,000",PI,Biggin,04/03/17,2,3067,...,2,1,94,169,"1,961",Yarra,-377.969,1.449.969,Northern Metropolitan,"4,019"
4,Abbotsford,55a Park St,4,h,"1,600,000",VB,Nelson,04/06/16,2,3067,...,1,2,120,142,"2,014",Yarra,-378.072,1.449.941,Northern Metropolitan,"4,019"

In [15]:
df.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64